    .button {
        display: flex;
        width: 200px;
        padding: 14px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #FFFFFF; 
        color: #505F98; 
        cursor: pointer;
    }
  